body{
    color: black;
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
li{
    margin-top: 40px;
}
video{
  width: 100%;
  height: auto;
  margin: 15px;
}
a{
  color: black;
}
a:hover{
  color: deepskyblue;
}
img{
  max-width: 100%;
  height: auto;
  padding: 40px;
}
.clr{
    clear: both;
}
.box-left{
    float: left;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}
.box-right{
    float: right;
    width: 70%;
    box-sizing: border-box;
}
.mySlides {
    display:none;
    max-width: 100%;
    height: auto;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 25px;
  margin-top: -30px;
  color: white;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 10%;
}
.next {
  right: 10%;
}

.prev:hover, .next:hover {
  background-color: lightgray;
  opacity: 0.6;
    
}

.text {
  color: black;
  font-size: 15px;
  text-align: center;
}

.bottom{
  margin-top: 150px;
  
}
.box{
    float: left;
    height: 100px;
    width: 100px;
    margin: 100px;
    box-sizing: border-box   
}
.box img{
    max-width: 100%;
    height:auto;
    padding: 5px;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


@media only screen and (max-width: 768px) {
  .prev, .next {
    font-size: 11px
  }
    body{
        font-family: Times New Roman;
        width: 85%;
    }
    .box-left{
        width: 100%;
        float: none;
        padding: 0px;
        margin-bottom: 40px;
    }
    .box-right{
        width: 100%;
        float: none;
    }
    li{
        margin-top: 30px;
        font-size: 18px;
    }
    ul{
        padding: 0px;
    }
    img{
        margin: 0px;
        padding: 0px;
    }
  }
